* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    background-color: #ffffff;
    width: 100%;
}

.botao-menu {
    color: #FFF;
    background-color: #403c44;
    padding: 10px;
    width: 100px; /* Aumenta a largura do botão */
    margin: 10px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0, 0.4);
}

div{
    width: 100%;
    display: flex;

}
.tudo{
    height: 400px;
    flex-direction: column;
    width: 80%;
    margin: 30px auto;
}

.t-r{
    flex: 2;
}

.rodape{
    flex: 1;
    background-color: #353535;
}

.cEa{
    flex: 2;
    flex-direction: column;
}

.menu{
    flex: 1;
    background-color: #535353;
}

.cabecalho{
    flex: 1;
    background-color: #c0c0c0;
}

.artigos{
    flex: 1;
}

.artigo1{
    background-color: #a0a0a0;
}

.artigo2{
    background-color: #7c7c7c;
}

/*prox. doc*/

.linha{
    display: flex;
    flex: 1;
}

.quadrado1{
    background-color: #797777;
    flex: 1;
}

.quadrado2{
    background-color: #4d4d4d;
    flex: 1;
}

/*prox. doc*/

.tuudo{
    height: 400px;
    width: 80%;
    margin: 30px auto;
    align-items: center;
}

.a20vh{
    height: 20vh;
}

.a30vh{
    height: 30vh;
}

.a15vh{
    height: 15vh;
}

.a35vh{
    height: 15vh;
}